header .container{
    padding: 20px;
    color: #AAAAAA;
    border-bottom: 1px solid rgb(153, 153, 153);
}

.container{
    margin: 15px auto;
    padding: 0px 15px;
}
.sites{
    background-color: #EEEEEE;

}
.sites label{
    color: #333333;
}
 .item{
    background-image: linear-gradient(rgb(238, 238, 238), rgb(255, 255, 255));
    margin: 10px 0px;
    padding: 20px;
}
.item h3{
    width: 30%;
}
footer .container{
    border-top: 1px solid rgb(153, 153, 153);
    padding: 20px;
}
footer p{
    color: #AAAAAA;
    font-size: 14px;
    font-weight: bold;
}
a{
    text-decoration: none;
}